body {
	max-width: 600px;
	padding: 1em;
	font-size: 1.2em;
	line-height: 1.4;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 1.4em;
	font-style: italic;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 0.5em;
	margin-top: 2em;
}

span {
	font-size: 1.1em;
	margin-top: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 2em;
	padding-left: 1.2em;
}

ul > ul {
	margin-bottom: 0.8em;
}

li {
	margin-bottom: 0.4em;
}

@media only screen and (max-device-width: 480px) {
	body {
		max-width: 480px;
		margin: 0 auto;
		font-size: 17px;
	}

	ul {
		padding-left: 1.3em;
	}

	ul > ul {
		padding-left: 0;
		list-style-type: none;
	}
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
